<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
-->
<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>groceryServlet</servlet-name>
    <servlet-class>whoowesme.GroceryServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>groceryEmptyServlet</servlet-name>
    <servlet-class>whoowesme.GroceryEmptyList</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>houseServlet</servlet-name>
  	<servlet-class>whoowesme.HouseServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>addBillServlet</servlet-name>
  	<servlet-class>whoowesme.AddBillServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>groceryServlet</servlet-name>
    <url-pattern>/addToGrocery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>groceryEmptyServlet</servlet-name>
    <url-pattern>/emptyGrocery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>houseServlet</servlet-name>
  	<url-pattern>/addHouse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addBillServlet</servlet-name>
  	<url-pattern>/addBill</url-pattern>
  </servlet-mapping>
  
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>Application</web-resource-name>
  		<url-pattern>/*</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>*</role-name>
  	</auth-constraint>
  </security-constraint>
 
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
